section{
    background-color: orangered;
    height: 30vh;

}
div{background-color: white;
    height: 30vh;
    font-size:30vh;

}
article{
    background-color: green;
    height: 30vh;

}
span{

}