#abc{
    background-color: orangered;
    height: 30vh;
}
{

}
.ab{height: 30vh;

    
    background-color: white;
    fo
    
    width:100px;
   
}
h1{
    background-color: olive;
}
h2,h3{
    background-color: green;
}

    
   
    */
*{
    background-color: orangered;
}